<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zyb.reader">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />


    <application>
        <activity
            android:name=".ReadActivity"
            android:theme="@style/AppTheme_DarkBg"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ActionActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".TextImageActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>